<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Helper</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
    <link href="static/css/styles.css" rel="stylesheet" />
    <link href="static/css/myStyles.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>

<body class="sb-nav-fixed">

    <!-- 메인 -->
    <div id="layoutSidenav">

        <!-- Side Bar -->
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">Core</div>
                        <a class="nav-link" href="/">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Dashboard
                        </a>
                        <div class="sb-sidenav-menu-heading">Interface</div>
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                            data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                            Layouts
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne"
                            data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="layout-static.html">Static Navigation</a>
                                <a class="nav-link" href="layout-sidenav-light.html">Light Sidenav</a>
                            </nav>
                        </div>
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages"
                            aria-expanded="false" aria-controls="collapsePages">
                            <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                            Pages
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapsePages" aria-labelledby="headingTwo"
                            data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                                    data-bs-target="#pagesCollapseAuth" aria-expanded="false"
                                    aria-controls="pagesCollapseAuth">
                                    Authentication
                                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                                <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne"
                                    data-bs-parent="#sidenavAccordionPages">
                                    <nav class="sb-sidenav-menu-nested nav">
                                        <a class="nav-link" href="login.html">Login</a>
                                        <a class="nav-link" href="register.html">Register</a>
                                        <a class="nav-link" href="password.html">Forgot Password</a>
                                    </nav>
                                </div>
                                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                                    data-bs-target="#pagesCollapseError" aria-expanded="false"
                                    aria-controls="pagesCollapseError">
                                    Error
                                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                                <div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne"
                                    data-bs-parent="#sidenavAccordionPages">
                                    <nav class="sb-sidenav-menu-nested nav">
                                        <a class="nav-link" href="401.html">401 Page</a>
                                        <a class="nav-link" href="404.html">404 Page</a>
                                        <a class="nav-link" href="500.html">500 Page</a>
                                    </nav>
                                </div>
                            </nav>
                        </div>
                        <div class="sb-sidenav-menu-heading">Addons</div>
                        <a class="nav-link" href="charts.html">
                            <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                            Charts
                        </a>
                        <a class="nav-link" href="tables.html">
                            <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                            Tables
                        </a>
                    </div>
                </div>
            </nav>
        </div>

        <!-- Main Content -->
        <div id="layoutSidenav_content">
            <main>

                <!-- Header -->
                <div class="border-bottom d-flex justify-content-between p-3">
                    <div class="px-4 fw-semibold">My schedule</div>
                    <div class="px-4 fw-semibold">...</div>
                </div>

                <!-- Schedule -->
                <div id="schedule" class="card mb-4 mx-4 my-5 overflow-auto">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        TimeTable
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered table-striped text-center">
                            <thead class="table-dark">
                                <tr>
                                    <th style="width: 80px;"></th>
                                    <th>월</th>
                                    <th>화</th>
                                    <th>수</th>
                                    <th>목</th>
                                    <th>금</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- 1교시 ~ 15교시 -->
                                <script>
                                    for (let i = 1; i <= 15; i++) {
                                        document.write(`<tr style="height: 60px;">
                                                <td style="width: 80px; white-space: nowrap;">${i}교시</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>`);
                                    }
                                </script>
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- 검색 버튼 -->
                <button id="searchButton" class="position-fixed start-50 btn btn-danger" style="bottom: 30px;">수업 목록에서
                    검색</button>

                <!-- 검색 창 (기본적으로 숨김) -->
                <div id="searchContainer" class="search-container">

                    <!-- 검색 창 헤더 부분 -->
                    <div class="search-header">
                        <div class="d-flex">
                            <div class="mx-2 badge rounded-pill text-bg-secondary d-flex align-items-center px-3">전공/영역:
                                전체</div>
                            <div type="button" id="searchContainerInputButton"
                                class="mx-2 badge rounded-pill text-bg-secondary d-flex align-items-center px-3">검색어:   
                                <div id="selectedSearchName" class="ps-2">없음</div>
                            </div>
                            <div class="mx-2 badge rounded-pill text-bg-secondary d-flex align-items-center px-3">정렬: 기본
                            </div>
                            <div class="mx-2 badge rounded-pill text-bg-secondary d-flex align-items-center px-3">시간: 전체
                            </div>
                            <div class="mx-2 badge rounded-pill text-bg-secondary d-flex align-items-center px-3">구분: 전체
                            </div>
                            <div class="mx-2 badge rounded-pill text-bg-secondary d-flex align-items-center px-3">학점: 전체
                            </div>
                        </div>
                        
                        <div type="button" id="closeButton"
                            class="mx-2 badge rounded-pill text-bg-danger d-flex align-items-center px-3"
                            style="height: 28px;">닫기</div>
                    </div>

                    <!-- 검색 결과 테이블 -->
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="font-size: 14px;">Id</th>
                                <th style="font-size: 14px;">교과목명</th>
                                <th style="font-size: 14px;">학점</th>
                                <th style="font-size: 14px;">이수구분</th>
                                <th style="font-size: 14px;">담당교수</th>
                                <th style="font-size: 14px;">수업시간</th>
                                <th style="font-size: 14px;">강의실</th>
                                <!-- <th>강의평</th> -->
                                <th style="font-size: 14px;">담은 인원</th>
                                <th style="font-size: 14px;">비고</th>
                            </tr>
                        </thead>
                        <tbody id="searchResults">
                            <!-- 검색 결과가 여기에 추가됨 -->
                        </tbody>
                    </table>
                </div>

                <!-- 검색입력창 -->
                <div id="searchContainerInputWindow" class="search-container-input">
                    <div class="d-flex justify-content-between">
                        <div>검색어</div>
                        <div type="button" id="searchContainerInputCloseButton">X</div>
                    </div>
                    <div class="mt-3 d-flex flex-row mb-3">
                        <div class="form-check me-4">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
                            <label class="form-check-label" for="flexRadioDefault1">
                                과목명
                            </label>
                        </div>
                        <div class="form-check me-4">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                            <label class="form-check-label" for="flexRadioDefault2">
                                교수명
                            </label>
                        </div>
                    </div>

                    <input type="text" id="searchInput" class="form-control" placeholder="수업명을 입력하세요..." />
                </div>

            </main>
        </div>
    </div>






    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
    <script src="static/js/scripts.js"></script>
    <script src="static/js/myscripts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="static/assets/demo/chart-area-demo.js"></script>
    <script src="static/assets/demo/chart-bar-demo.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js"
        crossorigin="anonymous"></script>
    <script src="static/js/datatables-simple-demo.js"></script>
</body>

</html>